/* Css reset */
* {
  outline-style: none;
  border: none;
}
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
  pointer-events: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}
/* Css */
body {
  background-color: #eeeeee;
}

.siteHeader {
  width: 325px;
  height: 40px;
  margin: 40px 25px;

  display: flex;
  justify-content: space-between;
}

.siteHeader > input {
  padding-left: 5px;

  font-family: 'Microsoft soft';

  flex-basis: 230px;
  font-size: 20px;
  border: 1px solid #ccc;
}

.siteHeader > button {
  flex-basis: 70px;
  border: none;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
}

.siteMain {
  margin: 0 25px;
  width: 325px;
}
.siteMain > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.siteMain .siteContainer {
  width: 150px;
  height: 160px;

  margin-bottom: 25px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.siteContainer > .logo {
  width: 72px;
  height: 72px;

  font-size: 64px;
  text-align: center;
  line-height: 64px;
}

.siteContainer > .text {
}

.siteLast {
}

.siteLast > .logo {
}

.siteLast > .text {
}
