/*btn按钮*/
.flicker {
  display: inline-block;

  color: #2194e0;
  font-size: 20px;

  border-radius: 0.3em;

  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}
.flicker:before {
  content: '';
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  transform: skewX(-45deg) translateX(0);
  transition: none;
}
.flicker:hover {
  background-color: #2194e0;
  color: #fff;
  border-bottom: 4px solid #1977b5;
}
.flicker:hover:before {
  transform: skewX(-45deg) translateX(13.5em);
  transition: all 0.5s ease-in-out;
}

@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}
